
html {
    /* rem is relative to the fontsize of an element. The default fontsize on most browsers is 16px; */
    
      font-size: 80%;  /* 1rem = 10px */
  
    /* this makes it a lot easier to calcute rem. 62.5 is 10/16 so our defualt fontsize is relative to user settings. defines what 1 rem is. So now, instead of 10px, we can write 1rem, Instead of 200px, we can write 20rem, etc..
    
    You don't have to use this trick, but it can make life a lot easier on us. On our media queries, we can just change the fontsize in our html styling, and everything using rem will change accordingly.
    */
  
  }
body {
    background-image: url("https://blissshurfine.com/sites/default/files/Trivia_1.png"); 

    background-color:white;
    margin: 0 0;
    text-align: center;
}

  * {
    box-sizing: border-box;
  }
  
  /* general */

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    clear: both;
}

.questions {
    visibility: hidden;
    background-color: rgba(104, 98, 112, 0.8);
    width: 100%;
    height: 450px;
    margin: 120px auto auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    justify-content: center;
    position: absolute;
}

.results {
    visibility: hidden;
    background-color: rgba(104, 98, 112, 0.8);
    width: 100%;
    height: 450px;
    margin: 120px auto auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    justify-content: center;
    justify-content: space-between;
    position: absolute;
}

.btn-start {
    margin: 2rem auto;
    display: block;
    padding: 1rem 5rem 1rem 5rem;
    color: white;
    background-color: green;
    font-family: inherit;
    font-size: 4rem;
    border-radius: 2rem;
    position: absolute;
    left: 40%;
    top: 65%;

}

.btn-startOver {
    margin: 1rem auto;
    display: block;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    background-color: green;
    font-family: inherit;
    font-size: 2rem;
}

.answer {
    margin: 1rem auto;
    width: 2rem;
    color: white;
    background-color: rgba(82, 192, 31, 0.5);
    font-family: inherit;
    font-size: 2rem;
   
}

#question {
    font-size: 3rem;
    font-weight: bold;
   
}

.responses {
    width: 20rem;
}

.h1 {
    font-size: 3rem;
    font-weight: bold;
    color: blue;
}